header{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 55px;
  }
  .logo-group{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 0 7px;
    cursor: pointer;
  }
  
    .nav-menu ul{
      list-style-type: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
    .menu-close-button{
      display: none;
    }
    .menu-open-button{
      display: none;
    }
  .nav-menu li{
    padding: 0 12px 0 12px;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .nav-menu li:hover{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  }
  .nav-menu a{
    font-size: 18px;
  }
  .cta-button{
    color: var(--white);
    background-color: var(--bg-color-cta);
    border: none;
    padding: 8px 16px;
    font-family: inherit;
    margin: 0 16px 0 0;
    font-size: var(--font-size-cta);
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .cta-button:hover{
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 hsla(210, 100%, 45%, 0.65);
  }
  .cta-button:active{
    transform: translate(0, 0);
    transition: 0.1s;
    box-shadow: 1px 1px 0 hsla(210, 100%, 45%, 0.65);
  }
  
  
  /* Starting body hero styles here */
  
  .hero-section{
    height: calc(100vh - 55px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-theme-background-color);
    background-image: var(--blob-desktop);
    color: var(--white);
  
  }
  .hero-section > div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: var(--hero-backdrop-filter);
    background-color: transparent;
  }
  .hero-container{
    display: flex;
    background-color: transparent;
    flex-flow: column nowrap;
    position: relative;
    width: calc(100vw/12*10);
    gap: 50px;
  }
  .hero-section h1{
    padding: 8px 0;
  }
  .hero-section .hero-list{
    margin: 0 8px;
  }
  .hero-list li{
    padding: 8px 0;
    font-family: var(--body-text);
    font-size: var(--body-font-size);
  }
  .button-container{
    text-align: left;
    padding: 0;
  }
  .hero-section .hero-cta{
    width: 200px;
    margin: 0 0 ;
    /* font-family: var(--logo-text-font); */
  }
  .hero-container h1{
    font-size: var(--h1-font-size);
  }
  
  /* Ending body hero styles here */
  
  /* Services section styles  starts here */
  
  .service-container{
    background-color: transparent;
    backdrop-filter: var(--hero-backdrop-color);
    min-height: 400px;
    width: calc(33vw - 16px);
  }
   .services-list{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 100px 0;
    justify-content: center;
    gap: 8px;
    width: 100vw;
  }
  .services{
    min-height: 769px;
    height:100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .services-heading{
    font-size: var(--h1-font-size);
  }
  .service-heading{
    height: 140px;
    font-size: var(--h2-font-size);
  }
  /* Services section styles  starts here */

  /* contact styles here */
  section.contact-section{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20vh;
    height: calc(100vh - 120px);
    min-height: 400px;
    width: calc(100vw/12*10);
    margin: 0 auto;
}
section.contact-section .contact-heading{
    text-align: center;
}
section.contact-section .contact-container{
    width: 50%;
    gap: 50px;
}
.contact-button-container{
    justify-content: space-evenly;
    width: calc(100vw/12*3 - 32px);
    gap: 10px;
}
section.contact-section p{
    text-align: left;
    font-family: var(--body-text);
    font-size: var(--body-font-size);
}
  
  .contact-banner{
    background-color: inherit;
    color: white;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: var(--body-font-size);
    align-items: center;
    padding: 8px 16px;
    font-family: var(--body-text);
    border-radius: 2px;
    min-width: 220px;
    width: 100%;
    cursor: pointer;
}

footer{
    height: 100px;
}

/* Intersection styles */

.contact-container, .service-container{
    opacity: 0;
    transform: translateX(-80%);
    }


    .show{
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
    }

    .service-container:nth-child(2){
        transition: all 800ms;
    }

    .service-container:nth-child(3){
        transition: all 1000ms;
    }

    /* Intersection styles ends here */


    .why-choose-us-section .wcu-cards-list{
        flex-flow: row wrap;
        gap: 8px;
        height: calc(100% - 47px);
        align-items: center;
    }
    .why-choose-us-section{
        
    }
    .wcu-card{
        width: calc(100vw/12*4 - 32px);
        height: 700px;
        gap: 35px;
    }
